# ============================================================
# Variables para `docker/compose-db.yml`
# Valores por defecto para funcionar "out of the box"
# ============================================================

MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_USER=pragma_user
MYSQL_PASSWORD=pragma_pass

MONGO_ROOT_USER=mongoadmin
MONGO_ROOT_PASSWORD=mongopassword

# (Referencia) JWT compartido por los microservicios
JWT_SECRET=pragma_super_secret_key_change_in_production

# (Referencia) Mensajería en modo mock (evita usar Twilio real)
TWILIO_MOCK_ENABLED=true

